@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===================== */
/* Utilities             */
/* ===================== */
@layer utilities {

  .bg-muted {
    background-color: rgb(var(--aw-color-bg-muted));
  }

  .text-page {
    color: rgb(var(--aw-color-text-default));
  }

  .text-muted {
    color: rgb(var(--aw-color-text-muted) / 0.66);
  }

  .text-heading {
    color: rgb(var(--aw-color-text-heading));
  }
}

/* ===================== */
/* Components            */
/* ===================== */
@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-full border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800 cursor-pointer;
  }

  .btn-primary {
    @apply btn font-semibold bg-primary text-white border-primary hover:bg-secondary hover:border-secondary hover:text-white dark:text-white dark:bg-primary dark:border-primary dark:hover:border-secondary dark:hover:bg-secondary;
  }

  .btn-secondary {
    @apply btn;
  }

  .btn-tertiary {
    @apply btn border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }

  .btn-muted {
    @apply btn border-none shadow-none bg-gray-900 text-gray-400;
  }
}

/* ===================== */
/* Header scroll         */
/* ===================== */
#header.scroll > div:first-child {
  background-color: rgb(var(--aw-color-bg-page) / 0.9);
  @apply backdrop-blur-md;
  box-shadow: 0 0.375rem 1.5rem rgb(140 152 164 / 13%);
}

.dark #header.scroll > div:first-child {
  background-color: rgb(var(--aw-color-bg-page) / 0.9);
  box-shadow: none;
}
